<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite-1">
<listeners>
<listener class-name="src_main_java.customListeners"/>
</listeners>
	<test name="Test Case-1">
		<classes>
			<class name="src_test_java.GoogleTest" />
		</classes>

	</test>

</suite>
